*{
  background-color: #212121;
}
.nav-items{
  display: flex;
  height: 100%;
  width: 100%;
  display: flex;
  color:#4E4FEB;
  font-size:50px;
  font-family:'Times New Roman', Times, serif;
  justify-content: left;
  align-items: center;
  margin-left: 100px;
}

h2{
  padding-top: 2cm;
  margin-left:10.5cm;
  color:#068FFF;
  font-family:'Times New Roman', Times, serif;
  font-size: 30px;
}
h1{
  /* margin-left:10%; */
  color:#068FFF;
  font-family:'Times New Roman', Times, serif;
  font-size: 30px;
}
